@import url('https://fonts.googleapis.com/css2?family=Anta&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
       font-family: "Mulish", sans-serif;
       
}
header{
   
    padding: 50px 340px;
}

/* start nav section */
.nav-logo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-logo-title{
    display: flex;
    gap: 5px;
    align-items: center;
}
.hero{
    font-size: 36px;
}
.travel{
    font-size: 36px;
    color: rgb(255, 84, 0);
}
 .nav-list > ul{
    display: flex;
    list-style: none;
     gap: 30px;
    font-weight: 400;
    font-size: 1rem;
}
.home{
    
    color:rgb(255, 84, 0);
}
.nav-list li a{
    text-decoration: none;
    text-align: center;
    color: rgb(66, 66, 71);
    

}
/* end nav ------section */



/* start bannar section */

.image-section img{

   position: absolute;
} 

.bannar-text{
    padding: 40px;
    position: relative;
    text-align: center;
}
.head-text{
    color: rgb(255, 255, 255);
    font-weight: 800;
     font-size: 4rem; 
    /* font-size: 64px; */
}
.peragraph-text{
    color:rgb(255, 255, 255) ;
    font-weight: 400;
    font-size: 1rem;

}

.input-section{
    margin-left: 50px;
    margin: 0 auto;
    width: 30px;
}


.input-title{
    margin-left:-420px;
    gap: 5px;
    display: flex;
    
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
     text-align: center; 
    align-items: center; 
    position: relative;
}

.input-title input{
    
    border: 10px solid red;
    border-radius: 10px;
    border: 0;
    padding: 20px;
}
.findnow-clr input{
    color: white;
    background-color: rgb(255, 84, 0);
}

/* main section start */

main{
    max-width: 1140px;
    margin: 0 auto;
}

.popular-tours{
    width: 100%;
    margin-top:40px;
    display: flex;
    gap: 35px;
}
.tours-content {
    font-size: -10px;
    padding: 50px;
    width: 50%;
}
.our-popular{
    font-size: 2rem;
    font-weight: 700;
}
.tour-img img{
    margin-top: 50px;
}
.btn-primary{
    margin-top:25px ;
    font-size: 1rem;
    border-radius: 8px;
    padding: 15px 25px;
    width: 180px;
    background-color: rgb(255, 84, 0);
    color: rgb(255, 255, 255);
    border: 0;
}


/* choose your destination start */
.destination-images{
   margin: 50px 0px;
}

 .destination-content{
    margin-top: 60px;
    text-align: center;
 }
 .destination-content h3{
    font-size: 2rem;
    font-weight: 700;
 }
 .destination-content p{
    
  font-size: 15px;
 }

 .destinaton-row{
    display: flex;
    gap: 15px;
    
 }
 .destinaton-row-img {
    display: flex;
    margin-top:25px;
    margin: 15px;
    gap: 15px;
 }
 .destinaton-row-images{
    display: flex;
    margin-top: 15px;
    gap: 15px;
 }
/* choose your destination  end*/


/* why choose section start */

.choose-content{

    text-align: center;
}
.choose-content h3{
    font-size: 2rem;
    font-weight: 700;
}
.choose-content p{
    font-size: 15px;
}

.services{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}
.hotel-service{
    font-weight: 400;
    padding: 40px;
    border-radius:10px;
    background-color: rgba(251, 181, 99, 0.2);
}
.would-service{
    font-weight: 400;
    padding: 40px;
    border-radius:10px;
    background-color:rgba(41, 206, 246, 0.2);
}
.best-price{

    margin-left: 280px;
    align-items: center;
    justify-content: center;
     width: 50%;
    font-weight: 400;
    padding:20px;
    border-radius:10px;
    background-color:rgba(233, 68, 68, 0.2);
}
/* why  choose section end */


 /* newsletter section start */
    /* .news-letter{
        border: red;
        display: flex;
        gap: 20px;
        background-color: aqua;
    }
    .Newsletter-content{
      border: red;
    }
.Newsletter button{
    padding: 15px 15px;
    width: 100%;
    background-color: orangered;
    border: none;
    border-radius: 6px;
    margin-top: 25px;
    cursor: pointer;
    color: white;
    font-weight: bold;
} */


.Newsletter{
    gap: 10px;
    display: flex;
    width: 30%;
    margin: auto;
    padding: 250px 0;
    margin-left: 50px;
}
.Newsletter-content{
    margin-right: 10px;
    border: 1px solid orangered;
    padding: 30px;
    border-radius: 15px;
}
.Newsletter input{
    display: block;
    width: 100%;
    margin-top: 25px;
    padding: 15px 15px;
    background-color: rgba(19, 19, 24, 0.05);
    border: none;
    border-radius: 6px;
}
.Newsletter h4{
    font-size: 30px;
}
.Newsletter p{
    margin-top: 15px;
    font-size: 15px;
    color: rgba(19, 19, 24, 0.50);
}
.Newsletter .border{
    border-bottom: 1px solid rgba(19, 19, 24, 0.05);
    margin-top: 25px;
}
.Newsletter button{
    padding: 15px 15px;
    width: 100%;
    background-color: orangered;
    border: none;
    border-radius: 6px;
    margin-top: 25px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}



 /* newsletter section end */


/* footer section  start*/
footer{

    width: 100%;
    height: 30px;
    margin: auto;
    padding: 250px 0;
    /* background-color: rgba(19, 19, 24, 0.05); */
}
.footer-system{
    padding: 50px;
    background-color: rgba(19, 19, 24, 0.05);
}
footer h4{
    
    text-align: center;
    font-size: 35px;
}
footer p{
    text-align: center;
    margin-top: 25px;
    line-height: 20px;
}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
footer li{
    list-style: none;
    margin: 10px;
}
footer li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
footer .border{
    border-bottom: 1px solid rgba(19, 19, 24, 0.05);
    margin-top: 25px;
}
.copywright-content{
    margin-top: 55px;
}
.footer-travel{
    color: rgb(255, 84, 0) ;
}

/* footer sectgion end */



/* resposive section start */

/* for Mobile devices */
@media screen and (min-width:300px) and (max-width:600px) {
    header{
           padding: 0px;
        padding-right: 0px auto;
    }
    .nav-logo-item{
        
      flex-direction: column;
 
    }
    .logo-title{
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
       
    }
    .nav-list  > ul {
        align-items: center;
        justify-content: center;
       
    }
    .bannar-card{
        margin: 0 160px;
      
       width: 100%;
    }

  .image-section img{
    margin: 0 auto;
    margin-left: 290px;
    width: 40%;
  }
.input-section input{
    width: 130%;
    margin-left: 230%;
}
  .popular-tours{
    justify-content: center;
    align-items: center;
    width: 100%;
    display: block;
    padding: 0 auto;
    
}
.tours-content{
    margin: 0 auto;
    padding: px;

    justify-content: center;
    align-items: center;
}
.tour-img img{
    
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    margin-left: 60px;
}
.destinaton-row{
    flex-direction: column;
}
.destinaton-row-img{
    flex-direction: column;
}
.destinaton-row-images{
    flex-direction: column;
}
.services{
    flex-direction: column;
}
.best-price{
    width: 100%;
    margin-left: 20px;
    align-items: center;
}
.Newsletter{
    width: 100%;
 margin-left: 30px;
    flex-direction: column;

}
.Newsletter img{
    width: 100%;
    margin-left: -40px;
}

}



/* laptop desktop devices  */
@media screen and (max-width:992px) {
    header{
 
        padding-right: 0px auto;
    }
    .nav-logo-item{
      flex-direction: column;
 
    }
    .nav-logo-title{
        width: 100%;
        align-items: center;
        justify-content: center;
       
    }
    .nav-list > ul{
        flex-direction: column;
    }

     .bannar-card .image-section img{
    
        width: 50%;
    
      }
      .bannar-card{
        width: 50%;
        margin: 0 -130px;
      }
    .head-text {
        font-size: 10px;
        padding: -20px;
        
      }
      /* .destination img{
        width:20% ;
      }
      .destinaton-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } */
      
}
/* responsive section end */